body{margin:0;padding:0}
/*
     FILE ARCHIVED ON 08:03:26 Mar 19, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:26:30 Mar 22, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1146.276
  exclusion.robots: 0.131
  exclusion.robots.policy: 0.121
  cdx.remote: 0.079
  esindex: 0.014
  LoadShardBlock: 91.954 (3)
  PetaboxLoader3.datanode: 61.343 (4)
  CDXLines.iter: 20.792 (3)
  PetaboxLoader3.resolve: 65.484 (2)
  load_resource: 73.19
*/